%h1 Editing product

= render 'form'

= link_to category_products_path(category), class: 'btn btn-link' do              
  %span.glyphicon.glyphicon-backward
  Back
\|
= link_to category_product_path(category, product), class: 'btn btn-link' do              
  %span.glyphicon.glyphicon-eye-open
  Show
